<a href="https://colab.research.google.com/github/sumanyurosha/hackathons/blob/master/Demand_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Exploration**

In [28]:
import numpy as np
import pandas as pd

In [29]:
train_file = '/content/drive/My Drive/Resources/Datasets/Demand Forecasting/train_0irEZ2H.csv'
test_file = '/content/drive/My Drive/Resources/Datasets/Demand Forecasting/test_nfaJ3J5.csv'

In [30]:
train_data = pd.read_csv(train_file)
train_data.head(10)

   record_ID      week  store_id  ...  is_featured_sku  is_display_sku  units_sold
0          1  17/01/11      8091  ...                0               0          20
1          2  17/01/11      8091  ...                0               0          28
2          3  17/01/11      8091  ...                0               0          19
3          4  17/01/11      8091  ...                0               0          44
4          5  17/01/11      8091  ...                0               0          52
5          9  17/01/11      8091  ...                0               0          18
6         10  17/01/11      8091  ...                0               0          47
7         13  17/01/11      8091  ...                0               0          50
8         14  17/01/11      8091  ...                1               1          82
9         17  17/01/11      8095  ...                0               0          99

[10 rows x 9 columns]

In [31]:
len(train_data)

150150

In [32]:
sample_subm = pd.read_csv('/content/drive/My Drive/Resources/Datasets/Demand Forecasting/sample_submission_pzljTaX.csv')
sample_subm.head()

   record_ID  units_sold
0     212645           0
1     212646           0
2     212647           0
3     212648           0
4     212649           0

In [33]:
submission_data = pd.read_csv(test_file)
submission_data.head()

   record_ID      week  store_id  ...  base_price  is_featured_sku  is_display_sku
0     212645  16/07/13      8091  ...    108.3000                0               0
1     212646  16/07/13      8091  ...    109.0125                0               0
2     212647  16/07/13      8091  ...    133.9500                0               0
3     212648  16/07/13      8091  ...    133.9500                0               0
4     212649  16/07/13      8091  ...    176.7000                0               0

[5 rows x 8 columns]

In [34]:
unique_stores = train_data.store_id.unique()
print(unique_stores)

number_of_unique_stores = len(unique_stores)
print(number_of_unique_stores)

[8091 8095 8094 8063 8023 8058 8222 8121 8218 8317 8319 8392 8398 8400
 8422 8438 8555 8562 8869 8991 8911 9001 9043 9092 9112 9132 9147 9164
 9178 9190 9221 9250 9273 9279 9281 9328 9371 9442 9430 9439 9425 9432
 9436 9456 9479 9481 9490 9498 9532 9578 9672 9611 9613 9632 9680 9700
 9713 9731 9745 9770 9789 9813 9823 9837 9809 9845 9872 9876 9879 9880
 9881 9890 9909 9954 9961 9984]
76

In [35]:
unique_products = train_data.sku_id.unique()
print(unique_products)

number_of_unique_products = len(unique_products)
print(number_of_unique_products)

[216418 216419 216425 216233 217390 219009 219029 223245 223153 300021
 219844 222087 320485 378934 222765 245387 245338 547934 300291 217217
 217777 398721 679023 546789 600934 545621 673209 327492]
28

In [36]:
unique_weeks = train_data.week.unique()
print(unique_weeks)

number_of_unique_weeks = len(unique_weeks)
print(number_of_unique_weeks)

['17/01/11' '24/01/11' '31/01/11' '07/02/11' '14/02/11' '21/02/11'
 '28/02/11' '07/03/11' '14/03/11' '21/03/11' '28/03/11' '04/04/11'
 '11/04/11' '18/04/11' '25/04/11' '02/05/11' '09/05/11' '16/05/11'
 '23/05/11' '30/05/11' '06/06/11' '13/06/11' '20/06/11' '27/06/11'
 '04/07/11' '11/07/11' '18/07/11' '25/07/11' '01/08/11' '08/08/11'
 '15/08/11' '22/08/11' '29/08/11' '05/09/11' '12/09/11' '19/09/11'
 '26/09/11' '03/10/11' '10/10/11' '17/10/11' '24/10/11' '31/10/11'
 '07/11/11' '14/11/11' '21/11/11' '28/11/11' '05/12/11' '12/12/11'
 '19/12/11' '26/12/11' '02/01/12' '09/01/12' '16/01/12' '23/01/12'
 '30/01/12' '06/02/12' '13/02/12' '20/02/12' '27/02/12' '06/03/12'
 '13/03/12' '20/03/12' '27/03/12' '03/04/12' '10/04/12' '17/04/12'
 '24/04/12' '01/05/12' '08/05/12' '15/05/12' '22/05/12' '29/05/12'
 '05/06/12' '12/06/12' '19/06/12' '26/06/12' '03/07/12' '10/07/12'
 '17/07/12' '24/07/12' '31/07/12' '07/08/12' '14/08/12' '21/08/12'
 '28/08/12' '04/09/12' '11/09/12' '18/09/12' '25/09/12' '02/10/12'
 '09/10/12' '16/10/12' '23/10/12' '30/10/12' '06/11/12' '13/11/12'
 '20/11/12' '27/11/12' '04/12/12' '11/12/12' '18/12/12' '25/12/12'
 '01/01/13' '08/01/13' '15/01/13' '22/01/13' '29/01/13' '05/02/13'
 '12/02/13' '19/02/13' '26/02/13' '05/03/13' '12/03/13' '19/03/13'
 '26/03/13' '02/04/13' '09/04/13' '16/04/13' '23/04/13' '30/04/13'
 '07/05/13' '14/05/13' '21/05/13' '28/05/13' '04/06/13' '11/06/13'
 '18/06/13' '25/06/13' '02/07/13' '09/07/13']
130

# **Data Preprocessing**

In [37]:
# doing this for categorical features
dummy_fields = ['week', 'store_id', 'sku_id']

for each in dummy_fields:
    dummy = pd.get_dummies(train_data[each], prefix=each, drop_first=False)
    train_data = pd.concat([train_data, dummy], axis=1)

fields_to_drop = ['record_ID','week', 'store_id', 'sku_id']
data = train_data.drop(fields_to_drop, axis=1)

data.head()

   total_price  base_price  ...  sku_id_673209  sku_id_679023
0      99.0375    111.8625  ...              0              0
1      99.0375     99.0375  ...              0              0
2     133.9500    133.9500  ...              0              0
3     133.9500    133.9500  ...              0              0
4     141.0750    141.0750  ...              0              0

[5 rows x 239 columns]

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150150 entries, 0 to 150149
Columns: 239 entries, total_price to sku_id_679023
dtypes: float64(2), int64(3), uint8(234)
memory usage: 39.2 MB

In [39]:
#feature scaling the continuous variables
quant_features = ['total_price', 'base_price', 'units_sold']

scaled_features = {}
for each in quant_features:
    mean, std = data[each].mean(), data[each].std()
    scaled_features[each] = [mean, std]
    data.loc[:, each] = (data[each] - mean)/std

data.head()

   total_price  base_price  ...  sku_id_673209  sku_id_679023
0    -1.041436   -0.969374  ...              0              0
1    -1.041436   -1.084955  ...              0              0
2    -0.703492   -0.770319  ...              0              0
3    -0.703492   -0.770319  ...              0              0
4    -0.634524   -0.706108  ...              0              0

[5 rows x 239 columns]

In [40]:
total_rows = len(data)
total_rows

150150

In [41]:
# splitting the data into training, validation and test sets

valid_size = 0.2
train_size = 0.6

test_data = data[int(-valid_size*total_rows): ]
data = data[ :int(-valid_size*total_rows)]

target_fields = ['units_sold']

features, target = data.drop(target_fields, axis=1), data[target_fields]
test_features, test_target = test_data.drop(target_fields, axis=1), test_data[target_fields]

In [42]:
train_features, valid_features = features[ :int(train_size*total_rows)], features[int(train_size*total_rows): ]
train_target, valid_target = target[ :int(train_size*total_rows)], target[int(train_size*total_rows): ]

In [43]:
train_features.head()

   total_price  base_price  ...  sku_id_673209  sku_id_679023
0    -1.041436   -0.969374  ...              0              0
1    -1.041436   -1.084955  ...              0              0
2    -0.703492   -0.770319  ...              0              0
3    -0.703492   -0.770319  ...              0              0
4    -0.634524   -0.706108  ...              0              0

[5 rows x 238 columns]

In [44]:
train_target.shape

(90090, 1)

In [45]:
train_target.iloc[0]

units_sold   -0.526081
Name: 0, dtype: float64

In [46]:
from torch.utils.data import Dataset, DataLoader
import torch

class SKUDataset(Dataset):

    def __init__(self, features, target, train=True):
        self.features = features
        self.target = target
        self.train = train
    
    def __len__(self):
        return len(self.features)

    def __getitem__(self, idx):

        if self.train:
            return torch.tensor(self.features.iloc[idx], dtype=torch.float32), torch.tensor(self.target.iloc[idx], dtype=torch.float32)
        else:
            return torch.tensor(self.features.iloc[idx], dtype=torch.float32)

In [59]:

train_dataset = SKUDataset(train_features, train_target, train=True)
valid_dataset = SKUDataset(valid_features, valid_target, train=True)
test_dataset = SKUDataset(test_features, test_target, train=True)

train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)
valid_loader = DataLoader(valid_dataset, batch_size=32, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=32)

In [48]:
# verifying data in dataloader 
x, y = next(iter(train_loader))
print(x.shape, y.shape)

torch.Size([32, 238]) torch.Size([32, 1])

# **Network Architecture**

In [49]:
import torch
import torch.nn as nn

In [50]:
class Network(nn.Module):

    def __init__(self):
        super().__init__()
        self.hidden = nn.Linear(238, 32)
        # 1 output node because we are predicting a continuous value
        self.output = nn.Linear(32, 1)

    def forward(self, x):
        x = self.hidden(x)
        x = torch.sigmoid(x)
        x = self.output(x)

        return x

In [51]:
model = Network()
model

Network(
  (hidden): Linear(in_features=238, out_features=32, bias=True)
  (output): Linear(in_features=32, out_features=1, bias=True)
)

In [52]:
class RMSLELoss(nn.Module):
    def __init__(self):
        super().__init__()
        self.mse = nn.MSELoss()

    def forward(self, pred, actual):
        return torch.sqrt(self.mse(torch.log(pred + 1), torch.log(actual + 1)))

In [53]:
import torch.optim as optim

criterion = RMSLELoss()
optimizer = optim.SGD(model.parameters(), lr=0.01)

gpu_is_available = torch.cuda.is_available()
if gpu_is_available:
    print('Training on GPU!')
    model = model.cuda()
else:
    print('Training on CPU!')

Training on GPU!

In [54]:
epochs = 5
valid_loss_min = np.inf

for epoch in range(epochs):
    
    train_loss = 0.
    valid_loss = 0.

    model.train()
    for features, target in train_loader:
        # moving data to GPU, if it's available
        if gpu_is_available:
            features, target = features.cuda(), target.cuda()

        # clearing out the gradients
        optimizer.zero_grad()
        # forward pass
        preds = model(features.float())
        # calculating the loss
        loss = criterion(preds, target.float())
        # backward propagation
        loss.backward()
        # updating the weights
        optimizer.step()

        # updating the loss
        train_loss += loss.item()*features.size(0)

    model.eval()
    for features, target in valid_loader:
        # moving data to GPU, if it's available
        if gpu_is_available:
            features, target = features.cuda(), target.cuda()
        # forward pass
        preds = model(features.float())
        # calculating the loss
        loss = criterion(preds, target.float())

        valid_loss += loss.item()*features.size(0)

    train_loss /= len(train_loader.dataset)
    valid_loss /= len(valid_loader.dataset)

    print('Epoch #{}, training loss : {:.6f}, validation loss : {:.6f}'
    .format(epoch+1, train_loss, valid_loss))

    if valid_loss < valid_loss_min :
        print('Validation loss decreased from {:.6f} to {:.6f}. Saving model...'
        .format(valid_loss_min, valid_loss))
        valid_loss_min = valid_loss
        torch.save(model.state_dict(), 'model.pt')

Epoch #1, training loss : 0.608547, validation loss : 0.555140
Validation loss decreased from inf to 0.555140. Saving model...
Epoch #2, training loss : 0.505991, validation loss : 0.496675
Validation loss decreased from 0.555140 to 0.496675. Saving model...
Epoch #3, training loss : 0.468738, validation loss : 0.513239
Epoch #4, training loss : nan, validation loss : nan
Epoch #5, training loss : nan, validation loss : nan

In [60]:
# evaluating performance on the test set
model.load_state_dict(torch.load('model.pt'))
print('Best model loaded from memory!')

test_loss = 0.
model.eval()
for i, (features, target) in enumerate(test_loader):
    # checking if GPU is available
    if gpu_is_available:
        features, target = features.cuda(), target.cuda()
        model = model.cuda()
    
    # forward pass
    preds = model(features)
    # calculating loss
    loss = criterion(preds, target)
    test_loss += loss.item()*features.size(0)

    print('{} batch(es) done..'.format(i+1))

test_loss /= len(test_loader.dataset)
print('Testing loss : {:.6f}'.format(test_loss))

Best model loaded from memory!
1 batch(es) done..
2 batch(es) done..
3 batch(es) done..
4 batch(es) done..
5 batch(es) done..
6 batch(es) done..
7 batch(es) done..
8 batch(es) done..
9 batch(es) done..
10 batch(es) done..
11 batch(es) done..
12 batch(es) done..
13 batch(es) done..
14 batch(es) done..
15 batch(es) done..
16 batch(es) done..
17 batch(es) done..
18 batch(es) done..
19 batch(es) done..
20 batch(es) done..
21 batch(es) done..
22 batch(es) done..
23 batch(es) done..
24 batch(es) done..
25 batch(es) done..
26 batch(es) done..
27 batch(es) done..
28 batch(es) done..
29 batch(es) done..
30 batch(es) done..
31 batch(es) done..
32 batch(es) done..
33 batch(es) done..
34 batch(es) done..
35 batch(es) done..
36 batch(es) done..
37 batch(es) done..
38 batch(es) done..
39 batch(es) done..
40 batch(es) done..
41 batch(es) done..
42 batch(es) done..
43 batch(es) done..
44 batch(es) done..
45 batch(es) done..
46 batch(es) done..
47 batch(es) done..
48 batch(es) done..
49 batch(es) done..
50 batch(es) done..
51 batch(es) done..
52 batch(es) done..
53 batch(es) done..
54 batch(es) done..
55 batch(es) done..
56 batch(es) done..
57 batch(es) done..
58 batch(es) done..
59 batch(es) done..
60 batch(es) done..
61 batch(es) done..
62 batch(es) done..
63 batch(es) done..
64 batch(es) done..
65 batch(es) done..
66 batch(es) done..
67 batch(es) done..
68 batch(es) done..
69 batch(es) done..
70 batch(es) done..
71 batch(es) done..
72 batch(es) done..
73 batch(es) done..
74 batch(es) done..
75 batch(es) done..
76 batch(es) done..
77 batch(es) done..
78 batch(es) done..
79 batch(es) done..
80 batch(es) done..
81 batch(es) done..
82 batch(es) done..
83 batch(es) done..
84 batch(es) done..
85 batch(es) done..
86 batch(es) done..
87 batch(es) done..
88 batch(es) done..
89 batch(es) done..
90 batch(es) done..
91 batch(es) done..
92 batch(es) done..
93 batch(es) done..
94 batch(es) done..
95 batch(es) done..
96 batch(es) done..
97 batch(es) done..
98 batch(es) done..
99 batch(es) done..
100 batch(es) done..
101 batch(es) done..
102 batch(es) done..
103 batch(es) done..
104 batch(es) done..
105 batch(es) done..
106 batch(es) done..
107 batch(es) done..
108 batch(es) done..
109 batch(es) done..
110 batch(es) done..
111 batch(es) done..
112 batch(es) done..
113 batch(es) done..
114 batch(es) done..
115 batch(es) done..
116 batch(es) done..
117 batch(es) done..
118 batch(es) done..
119 batch(es) done..
120 batch(es) done..
121 batch(es) done..
122 batch(es) done..
123 batch(es) done..
124 batch(es) done..
125 batch(es) done..
126 batch(es) done..
127 batch(es) done..
128 batch(es) done..
129 batch(es) done..
130 batch(es) done..
131 batch(es) done..
132 batch(es) done..
133 batch(es) done..
134 batch(es) done..
135 batch(es) done..
136 batch(es) done..
137 batch(es) done..
138 batch(es) done..
139 batch(es) done..
140 batch(es) done..
141 batch(es) done..
142 batch(es) done..
143 batch(es) done..
144 batch(es) done..
145 batch(es) done..
146 batch(es) done..
147 batch(es) done..
148 batch(es) done..
149 batch(es) done..
150 batch(es) done..
151 batch(es) done..
152 batch(es) done..
153 batch(es) done..
154 batch(es) done..
155 batch(es) done..
156 batch(es) done..
157 batch(es) done..
158 batch(es) done..
159 batch(es) done..
160 batch(es) done..
161 batch(es) done..
162 batch(es) done..
163 batch(es) done..
164 batch(es) done..
165 batch(es) done..
166 batch(es) done..
167 batch(es) done..
168 batch(es) done..
169 batch(es) done..
170 batch(es) done..
171 batch(es) done..
172 batch(es) done..
173 batch(es) done..
174 batch(es) done..
175 batch(es) done..
176 batch(es) done..
177 batch(es) done..
178 batch(es) done..
179 batch(es) done..
180 batch(es) done..
181 batch(es) done..
182 batch(es) done..
183 batch(es) done..
184 batch(es) done..
185 batch(es) done..
186 batch(es) done..
187 batch(es) done..
188 batch(es) done..
189 batch(es) done..
190 batch(es) done..
191 batch(es) done..
192 batch(es) done..
193 batch(es) done..
194 batch(es) done..
195 batch(es) done..
196 batch(es) done..
197 batch(es) done..
198 batch(es) done..
199 batch(es) done..
200 batch(es) done..
201 batch(es) done..
202 batch(es) done..
203 batch(es) done..
204 batch(es) done..
205 batch(es) done..
206 batch(es) done..
207 batch(es) done..
208 batch(es) done..
209 batch(es) done..
210 batch(es) done..
211 batch(es) done..
212 batch(es) done..
213 batch(es) done..
214 batch(es) done..
215 batch(es) done..
216 batch(es) done..
217 batch(es) done..
218 batch(es) done..
219 batch(es) done..
220 batch(es) done..
221 batch(es) done..
222 batch(es) done..
223 batch(es) done..
224 batch(es) done..
225 batch(es) done..
226 batch(es) done..
227 batch(es) done..
228 batch(es) done..
229 batch(es) done..
230 batch(es) done..
231 batch(es) done..
232 batch(es) done..
233 batch(es) done..
234 batch(es) done..
235 batch(es) done..
236 batch(es) done..
237 batch(es) done..
238 batch(es) done..
239 batch(es) done..
240 batch(es) done..
241 batch(es) done..
242 batch(es) done..
243 batch(es) done..
244 batch(es) done..
245 batch(es) done..
246 batch(es) done..
247 batch(es) done..
248 batch(es) done..
249 batch(es) done..
250 batch(es) done..
251 batch(es) done..
252 batch(es) done..
253 batch(es) done..
254 batch(es) done..
255 batch(es) done..
256 batch(es) done..
257 batch(es) done..
258 batch(es) done..
259 batch(es) done..
260 batch(es) done..
261 batch(es) done..
262 batch(es) done..
263 batch(es) done..
264 batch(es) done..
265 batch(es) done..
266 batch(es) done..
267 batch(es) done..
268 batch(es) done..
269 batch(es) done..
270 batch(es) done..
271 batch(es) done..
272 batch(es) done..
273 batch(es) done..
274 batch(es) done..
275 batch(es) done..
276 batch(es) done..
277 batch(es) done..
278 batch(es) done..
279 batch(es) done..
280 batch(es) done..
281 batch(es) done..
282 batch(es) done..
283 batch(es) done..
284 batch(es) done..
285 batch(es) done..
286 batch(es) done..
287 batch(es) done..
288 batch(es) done..
289 batch(es) done..
290 batch(es) done..
291 batch(es) done..
292 batch(es) done..
293 batch(es) done..
294 batch(es) done..
295 batch(es) done..
296 batch(es) done..
297 batch(es) done..
298 batch(es) done..
299 batch(es) done..
300 batch(es) done..
301 batch(es) done..
302 batch(es) done..
303 batch(es) done..
304 batch(es) done..
305 batch(es) done..
306 batch(es) done..
307 batch(es) done..
308 batch(es) done..
309 batch(es) done..
310 batch(es) done..
311 batch(es) done..
312 batch(es) done..
313 batch(es) done..
314 batch(es) done..
315 batch(es) done..
316 batch(es) done..
317 batch(es) done..
318 batch(es) done..
319 batch(es) done..
320 batch(es) done..
321 batch(es) done..
322 batch(es) done..
323 batch(es) done..
324 batch(es) done..
325 batch(es) done..
326 batch(es) done..
327 batch(es) done..
328 batch(es) done..
329 batch(es) done..
330 batch(es) done..
331 batch(es) done..
332 batch(es) done..
333 batch(es) done..
334 batch(es) done..
335 batch(es) done..
336 batch(es) done..
337 batch(es) done..
338 batch(es) done..
339 batch(es) done..
340 batch(es) done..
341 batch(es) done..
342 batch(es) done..
343 batch(es) done..
344 batch(es) done..
345 batch(es) done..
346 batch(es) done..
347 batch(es) done..
348 batch(es) done..
349 batch(es) done..
350 batch(es) done..
351 batch(es) done..
352 batch(es) done..
353 batch(es) done..
354 batch(es) done..
355 batch(es) done..
356 batch(es) done..
357 batch(es) done..
358 batch(es) done..
359 batch(es) done..
360 batch(es) done..
361 batch(es) done..
362 batch(es) done..
363 batch(es) done..
364 batch(es) done..
365 batch(es) done..
366 batch(es) done..
367 batch(es) done..
368 batch(es) done..
369 batch(es) done..
370 batch(es) done..
371 batch(es) done..
372 batch(es) done..
373 batch(es) done..
374 batch(es) done..
375 batch(es) done..
376 batch(es) done..
377 batch(es) done..
378 batch(es) done..
379 batch(es) done..
380 batch(es) done..
381 batch(es) done..
382 batch(es) done..
383 batch(es) done..
384 batch(es) done..
385 batch(es) done..
386 batch(es) done..
387 batch(es) done..
388 batch(es) done..
389 batch(es) done..
390 batch(es) done..
391 batch(es) done..
392 batch(es) done..
393 batch(es) done..
394 batch(es) done..
395 batch(es) done..
396 batch(es) done..
397 batch(es) done..
398 batch(es) done..
399 batch(es) done..
400 batch(es) done..
401 batch(es) done..
402 batch(es) done..
403 batch(es) done..
404 batch(es) done..
405 batch(es) done..
406 batch(es) done..
407 batch(es) done..
408 batch(es) done..
409 batch(es) done..
410 batch(es) done..
411 batch(es) done..
412 batch(es) done..
413 batch(es) done..
414 batch(es) done..
415 batch(es) done..
416 batch(es) done..
417 batch(es) done..
418 batch(es) done..
419 batch(es) done..
420 batch(es) done..
421 batch(es) done..
422 batch(es) done..
423 batch(es) done..
424 batch(es) done..
425 batch(es) done..
426 batch(es) done..
427 batch(es) done..
428 batch(es) done..
429 batch(es) done..
430 batch(es) done..
431 batch(es) done..
432 batch(es) done..
433 batch(es) done..
434 batch(es) done..
435 batch(es) done..
436 batch(es) done..
437 batch(es) done..
438 batch(es) done..
439 batch(es) done..
440 batch(es) done..
441 batch(es) done..
442 batch(es) done..
443 batch(es) done..
444 batch(es) done..
445 batch(es) done..
446 batch(es) done..
447 batch(es) done..
448 batch(es) done..
449 batch(es) done..
450 batch(es) done..
451 batch(es) done..
452 batch(es) done..
453 batch(es) done..
454 batch(es) done..
455 batch(es) done..
456 batch(es) done..
457 batch(es) done..
458 batch(es) done..
459 batch(es) done..
460 batch(es) done..
461 batch(es) done..
462 batch(es) done..
463 batch(es) done..
464 batch(es) done..
465 batch(es) done..
466 batch(es) done..
467 batch(es) done..
468 batch(es) done..
469 batch(es) done..
470 batch(es) done..
471 batch(es) done..
472 batch(es) done..
473 batch(es) done..
474 batch(es) done..
475 batch(es) done..
476 batch(es) done..
477 batch(es) done..
478 batch(es) done..
479 batch(es) done..
480 batch(es) done..
481 batch(es) done..
482 batch(es) done..
483 batch(es) done..
484 batch(es) done..
485 batch(es) done..
486 batch(es) done..
487 batch(es) done..
488 batch(es) done..
489 batch(es) done..
490 batch(es) done..
491 batch(es) done..
492 batch(es) done..
493 batch(es) done..
494 batch(es) done..
495 batch(es) done..
496 batch(es) done..
497 batch(es) done..
498 batch(es) done..
499 batch(es) done..
500 batch(es) done..
501 batch(es) done..
502 batch(es) done..
503 batch(es) done..
504 batch(es) done..
505 batch(es) done..
506 batch(es) done..
507 batch(es) done..
508 batch(es) done..
509 batch(es) done..
510 batch(es) done..
511 batch(es) done..
512 batch(es) done..
513 batch(es) done..
514 batch(es) done..
515 batch(es) done..
516 batch(es) done..
517 batch(es) done..
518 batch(es) done..
519 batch(es) done..
520 batch(es) done..
521 batch(es) done..
522 batch(es) done..
523 batch(es) done..
524 batch(es) done..
525 batch(es) done..
526 batch(es) done..
527 batch(es) done..
528 batch(es) done..
529 batch(es) done..
530 batch(es) done..
531 batch(es) done..
532 batch(es) done..
533 batch(es) done..
534 batch(es) done..
535 batch(es) done..
536 batch(es) done..
537 batch(es) done..
538 batch(es) done..
539 batch(es) done..
540 batch(es) done..
541 batch(es) done..
542 batch(es) done..
543 batch(es) done..
544 batch(es) done..
545 batch(es) done..
546 batch(es) done..
547 batch(es) done..
548 batch(es) done..
549 batch(es) done..
550 batch(es) done..
551 batch(es) done..
552 batch(es) done..
553 batch(es) done..
554 batch(es) done..
555 batch(es) done..
556 batch(es) done..
557 batch(es) done..
558 batch(es) done..
559 batch(es) done..
560 batch(es) done..
561 batch(es) done..
562 batch(es) done..
563 batch(es) done..
564 batch(es) done..
565 batch(es) done..
566 batch(es) done..
567 batch(es) done..
568 batch(es) done..
569 batch(es) done..
570 batch(es) done..
571 batch(es) done..
572 batch(es) done..
573 batch(es) done..
574 batch(es) done..
575 batch(es) done..
576 batch(es) done..
577 batch(es) done..
578 batch(es) done..
579 batch(es) done..
580 batch(es) done..
581 batch(es) done..
582 batch(es) done..
583 batch(es) done..
584 batch(es) done..
585 batch(es) done..
586 batch(es) done..
587 batch(es) done..
588 batch(es) done..
589 batch(es) done..
590 batch(es) done..
591 batch(es) done..
592 batch(es) done..
593 batch(es) done..
594 batch(es) done..
595 batch(es) done..
596 batch(es) done..
597 batch(es) done..
598 batch(es) done..
599 batch(es) done..
600 batch(es) done..
601 batch(es) done..
602 batch(es) done..
603 batch(es) done..
604 batch(es) done..
605 batch(es) done..
606 batch(es) done..
607 batch(es) done..
608 batch(es) done..
609 batch(es) done..
610 batch(es) done..
611 batch(es) done..
612 batch(es) done..
613 batch(es) done..
614 batch(es) done..
615 batch(es) done..
616 batch(es) done..
617 batch(es) done..
618 batch(es) done..
619 batch(es) done..
620 batch(es) done..
621 batch(es) done..
622 batch(es) done..
623 batch(es) done..
624 batch(es) done..
625 batch(es) done..
626 batch(es) done..
627 batch(es) done..
628 batch(es) done..
629 batch(es) done..
630 batch(es) done..
631 batch(es) done..
632 batch(es) done..
633 batch(es) done..
634 batch(es) done..
635 batch(es) done..
636 batch(es) done..
637 batch(es) done..
638 batch(es) done..
639 batch(es) done..
640 batch(es) done..
641 batch(es) done..
642 batch(es) done..
643 batch(es) done..
644 batch(es) done..
645 batch(es) done..
646 batch(es) done..
647 batch(es) done..
648 batch(es) done..
649 batch(es) done..
650 batch(es) done..
651 batch(es) done..
652 batch(es) done..
653 batch(es) done..
654 batch(es) done..
655 batch(es) done..
656 batch(es) done..
657 batch(es) done..
658 batch(es) done..
659 batch(es) done..
660 batch(es) done..
661 batch(es) done..
662 batch(es) done..
663 batch(es) done..
664 batch(es) done..
665 batch(es) done..
666 batch(es) done..
667 batch(es) done..
668 batch(es) done..
669 batch(es) done..
670 batch(es) done..
671 batch(es) done..
672 batch(es) done..
673 batch(es) done..
674 batch(es) done..
675 batch(es) done..
676 batch(es) done..
677 batch(es) done..
678 batch(es) done..
679 batch(es) done..
680 batch(es) done..
681 batch(es) done..
682 batch(es) done..
683 batch(es) done..
684 batch(es) done..
685 batch(es) done..
686 batch(es) done..
687 batch(es) done..
688 batch(es) done..
689 batch(es) done..
690 batch(es) done..
691 batch(es) done..
692 batch(es) done..
693 batch(es) done..
694 batch(es) done..
695 batch(es) done..
696 batch(es) done..
697 batch(es) done..
698 batch(es) done..
699 batch(es) done..
700 batch(es) done..
701 batch(es) done..
702 batch(es) done..
703 batch(es) done..
704 batch(es) done..
705 batch(es) done..
706 batch(es) done..
707 batch(es) done..
708 batch(es) done..
709 batch(es) done..
710 batch(es) done..
711 batch(es) done..
712 batch(es) done..
713 batch(es) done..
714 batch(es) done..
715 batch(es) done..
716 batch(es) done..
717 batch(es) done..
718 batch(es) done..
719 batch(es) done..
720 batch(es) done..
721 batch(es) done..
722 batch(es) done..
723 batch(es) done..
724 batch(es) done..
725 batch(es) done..
726 batch(es) done..
727 batch(es) done..
728 batch(es) done..
729 batch(es) done..
730 batch(es) done..
731 batch(es) done..
732 batch(es) done..
733 batch(es) done..
734 batch(es) done..
735 batch(es) done..
736 batch(es) done..
737 batch(es) done..
738 batch(es) done..
739 batch(es) done..
740 batch(es) done..
741 batch(es) done..
742 batch(es) done..
743 batch(es) done..
744 batch(es) done..
745 batch(es) done..
746 batch(es) done..
747 batch(es) done..
748 batch(es) done..
749 batch(es) done..
750 batch(es) done..
751 batch(es) done..
752 batch(es) done..
753 batch(es) done..
754 batch(es) done..
755 batch(es) done..
756 batch(es) done..
757 batch(es) done..
758 batch(es) done..
759 batch(es) done..
760 batch(es) done..
761 batch(es) done..
762 batch(es) done..
763 batch(es) done..
764 batch(es) done..
765 batch(es) done..
766 batch(es) done..
767 batch(es) done..
768 batch(es) done..
769 batch(es) done..
770 batch(es) done..
771 batch(es) done..
772 batch(es) done..
773 batch(es) done..
774 batch(es) done..
775 batch(es) done..
776 batch(es) done..
777 batch(es) done..
778 batch(es) done..
779 batch(es) done..
780 batch(es) done..
781 batch(es) done..
782 batch(es) done..
783 batch(es) done..
784 batch(es) done..
785 batch(es) done..
786 batch(es) done..
787 batch(es) done..
788 batch(es) done..
789 batch(es) done..
790 batch(es) done..
791 batch(es) done..
792 batch(es) done..
793 batch(es) done..
794 batch(es) done..
795 batch(es) done..
796 batch(es) done..
797 batch(es) done..
798 batch(es) done..
799 batch(es) done..
800 batch(es) done..
801 batch(es) done..
802 batch(es) done..
803 batch(es) done..
804 batch(es) done..
805 batch(es) done..
806 batch(es) done..
807 batch(es) done..
808 batch(es) done..
809 batch(es) done..
810 batch(es) done..
811 batch(es) done..
812 batch(es) done..
813 batch(es) done..
814 batch(es) done..
815 batch(es) done..
816 batch(es) done..
817 batch(es) done..
818 batch(es) done..
819 batch(es) done..
820 batch(es) done..
821 batch(es) done..
822 batch(es) done..
823 batch(es) done..
824 batch(es) done..
825 batch(es) done..
826 batch(es) done..
827 batch(es) done..
828 batch(es) done..
829 batch(es) done..
830 batch(es) done..
831 batch(es) done..
832 batch(es) done..
833 batch(es) done..
834 batch(es) done..
835 batch(es) done..
836 batch(es) done..
837 batch(es) done..
838 batch(es) done..
839 batch(es) done..
840 batch(es) done..
841 batch(es) done..
842 batch(es) done..
843 batch(es) done..
844 batch(es) done..
845 batch(es) done..
846 batch(es) done..
847 batch(es) done..
848 batch(es) done..
849 batch(es) done..
850 batch(es) done..
851 batch(es) done..
852 batch(es) done..
853 batch(es) done..
854 batch(es) done..
855 batch(es) done..
856 batch(es) done..
857 batch(es) done..
858 batch(es) done..
859 batch(es) done..
860 batch(es) done..
861 batch(es) done..
862 batch(es) done..
863 batch(es) done..
864 batch(es) done..
865 batch(es) done..
866 batch(es) done..
867 batch(es) done..
868 batch(es) done..
869 batch(es) done..
870 batch(es) done..
871 batch(es) done..
872 batch(es) done..
873 batch(es) done..
874 batch(es) done..
875 batch(es) done..
876 batch(es) done..
877 batch(es) done..
878 batch(es) done..
879 batch(es) done..
880 batch(es) done..
881 batch(es) done..
882 batch(es) done..
883 batch(es) done..
884 batch(es) done..
885 batch(es) done..
886 batch(es) done..
887 batch(es) done..
888 batch(es) done..
889 batch(es) done..
890 batch(es) done..
891 batch(es) done..
892 batch(es) done..
893 batch(es) done..
894 batch(es) done..
895 batch(es) done..
896 batch(es) done..
897 batch(es) done..
898 batch(es) done..
899 batch(es) done..
900 batch(es) done..
901 batch(es) done..
902 batch(es) done..
903 batch(es) done..
904 batch(es) done..
905 batch(es) done..
906 batch(es) done..
907 batch(es) done..
908 batch(es) done..
909 batch(es) done..
910 batch(es) done..
911 batch(es) done..
912 batch(es) done..
913 batch(es) done..
914 batch(es) done..
915 batch(es) done..
916 batch(es) done..
917 batch(es) done..
918 batch(es) done..
919 batch(es) done..
920 batch(es) done..
921 batch(es) done..
922 batch(es) done..
923 batch(es) done..
924 batch(es) done..
925 batch(es) done..
926 batch(es) done..
927 batch(es) done..
928 batch(es) done..
929 batch(es) done..
930 batch(es) done..
931 batch(es) done..
932 batch(es) done..
933 batch(es) done..
934 batch(es) done..
935 batch(es) done..
936 batch(es) done..
937 batch(es) done..
938 batch(es) done..
939 batch(es) done..
Testing loss : nan

In [ ]:
# preparing data for submission
sample_dataset = submission_data